.idea
.DS_Store
/node_modules
/test/working_copy
/build
/docs/site
example/build/
example/composer.lock
example/vendor/
soe/build/
soe/composer.lock
soe/vendor/
soe/node_modules
soe/src/sites/default/settings.local.php
soe/.development_site
soe/build/packages/package/.DS_Store
soe/src/sites/default/files
soe/test/behat.local.yml
# Docksal local environment file
.docksal/local.docksal.env
.docksal/local.docksal.yml
